<div align="center"  >
	<div align="center">
		<strong>THE UNITED REPUPLIC OF TANZANIA</strong>
		<h4>MINISTRY OF HEALTH AND SOCIAL WELFARE</h4>

	</div>
<div align="left" style="float:left;">
	<h5>Telephone 026 2394570</h5>
	<h5>FAX. No. 2390364</h5>
	<h5>Ref. No. ________________</h5>
	<h4>To</h4>
	<h5>Hospital {{hospital_name}}</h5>
	<h4>address1</h4>
	<h4>address2</h4>
</div>
	<img src="./../images/tanzania-logo.png" height="80px"/>
<div style="float:right;">
<h5>{{hospitalName}}</h5>
	<h5>P. Box 910,</h5>
	<h4>DODOMA</h4>
	<h4>DATE:<u><span ng-bind="CurrentDate | date:'dd/MM/yyyy'"></span></u></h4>
</div>
	<h3>HOSPITAL REFERRAL FORM</h3><br/>

</div>
<div>
	<font size="4.2" face="Courier New" color="#0000" >
<table width="100%">
<tr><td>FULL NAME:<u>{{patient.name}}</u>&nbsp;SEX:Female:<u>{{female}}</u> &nbsp;File No.........</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>AGE:<u>{{patient.age}} </u> &nbsp;&nbsp;&nbsp;Address:.............&nbsp;&nbsp;&nbsp; Occupation............</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Brief History/Clinical & Psychiatric Findings:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Diagnosis:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Treatment:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>REASON FOR REFERRAL/TRANSFER:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>NAME OF OFFICER:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>SIGNATURE:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>DESIGNATION:<u>{{docFullName}}</td></tr>
</table></font>
</div>