<div align="center"  >
	<div align="center">
		<strong>Jamhuri ya Muungano wa Tanzania</strong>

	</div>
	<img src="./../images/tanzania-logo.png" height="80px"/>

	<h4>Wizara ya Afya na Ustawi wa Jamii</h4>
	<h4>Mpango wa Taifa wa Kudhibiti UKIMWI</h4>

	<h3>FOMU YA RUFAA</h3>

</div>
<div>
	<h4>DATE:<u><span ng-bind="CurrentDate | date:'dd/MM/yyyy'"></span></u></h4>
	<font size="4.2" face="Courier New" color="#0000" >
<table width="100%">
	<tr><td>Kwenda(Jina la Kituo):</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Anuani:&nbsp;Simu:</td></tr>
	<tr></tr>
	<tr></tr>
    <tr><td>Namba ya Mteja:<u>{{patient.name}}</u>&nbsp;Jinsia:Female:<u>{{female}}</u>Umri:<u>{{patient.age}} </u> </td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Hali ya Ndoa:<u>{{patient.age}} </u> &nbsp;&nbsp;Kazi:.............</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sababu ya Rufa:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Huduma alizopewa:<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Taarifa za kipekee(Mfano;allergy):<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina(Anaetoa Huduma):<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Cheo:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina la Kituo:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Simu:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sahihi:<u>{{docFullName}}</td></tr>
</table>
		<strong>.............................................................................................................................................................................</strong><br/>
		<h3>FOMU YA RUFAA</h3><h5>(Tafadhali rejesha kipande hiki kwenye kituo kilichokupatia)</h5>
<table>
	<tr><td>Kwenda (Jina la Kituo):<u>{{remarks}}</u></td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Namba ya Mteja:<u>{{remarks}}</u>Jinsia: Umri:</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Huduma Iliyotolewa:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Tarehe Huduma iliyotolewa:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina(Aliyetoa Huduma):<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Cheo:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Jina la Kituo:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Simu:<u>{{docFullName}}</td></tr>
	<tr></tr>
	<tr></tr>
	<tr><td>Sahihi:<u>{{docFullName}}</td></tr>

</table>
	</font>
</div>