<div align="center">
    <ul>
      <li>
          <a id="bahmni.registration2" ng-href="../warehouse/#/price_list"
             class="button app big ng-binding ng-scope" target="_self"
             href="../warehouse/#/price_list"><i class="icon-bahmni-registration"></i>Price List</a>

          <a id="bahmni.registration" ng-href="../warehouse/#/ledger_entry"
             class="button app big ng-binding ng-scope" target="_self"
             href="../warehouse/#/ledger_entry"><i class="icon-bahmni-registration"></i>Ledger Entry</a>


        </li>
        <li>
            <a id="bahmni.registration1" ng-href="../warehouse/#/products"
               class="button app big ng-binding ng-scope" target="_self"
               href="../warehouse/#/products"><i class="icon-bahmni-registration"></i>Products</a>
            
            <a id="bahmni.registration2" ng-href="../warehouse/#/products_mvt"
               class="button app big ng-binding ng-scope" target="_self"
               href="../warehouse/#/products"><i class="icon-bahmni-registration"></i>Product Movement</a>

        </li>

    </ul>

</div>