<div>
    <script>
  $( function() {

    $( "#product_name" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: window.location.protocol + "//" + window.location.host + "/openmrs/ws/rest/v1/get_item/getDrug",
          dataType: "json",
          data: {
            name: request.term
          },
          success: function( data ) {

              if(data == null){
            data = {label : "Other"};
              response(data);
                 }
                 else{
             response($.map(data, function (value, key) {

                return {
                    label: value.name,
                    value: value.drug_id
                }
            }));
          }
          }
        } );
      },
      minLength: 2,
      focus: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					$(this).val(ui.item.label);
				},
				select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.label);

					$("#item_id").val(ui.item.value);
					 $("#item_id").trigger('change');
				}
    });
  } );
</script>

</div>
<div style="60%;padding:30px" >
    <div id="navigation" style="float:left;">
        <ul class="top-level">
            <li><a href="../warehouse/#/products">Add Product</a></li>
            <li><a href="../warehouse/#/activateProducts">Activate/Retire Product</a></li>
            <li><a href="../warehouse/#/price">Add Price</a></li>
            <li><a href="../warehouse/#/physical_invent">Physical Inventory</a></li>
            <li><a href="../warehouse/#/out_of_stock">Out of Stock</a></li>
			<li><a href="../warehouse/#/products_location">Product Location</a></li>
        </ul>
    </div>
    <div id="actvateRetire_product" >

        <div class="audit-log-filter">
            <header>
                <p>And Price</p>
            </header>
            <article id="startFrom">

                <div  id="salePrice">
                    <label >Product Name</label>
                    <p>
                        <input placeholder="search product" class="disposition-action" id="product_name" type="text" ng-model="item.name">
                        <input style="display:none" class="disposition-action" id="item_id" type="text" ng-model="item.item_id">

                    </p>

                    <label >Price List</label>
                    <p>
                        <select class="disposition-action" name="priceList" id="price_list"  ng-options="p.price_list_id as p.name for p in priceLists" ng-model="item.pricelist">
                            <option value=""></option>
                        </select>
                    </p>

                    <label >Amount</label>
                    <p>
                        <input class="disposition-action" id="amount" type="number" ng-model="item.amount">
                    </p>

                    <button  type="submit"   class="run-report confirm" ng-click="save_price()">
                        Save
                    </button>
                </div>
            </article>

        </div>
    </div>
    <p>
        <input placeholder="Search by Name, BatchNo or Invoice No"  id="searchledger" type="text" ng-model="searchPrice">

        <button  type="submit"   class="run-report confirm" ng-click="search()">
            Search
        </button>
    </p>

    <table>
        <thead>

        <table>
            <thead>
            <tr><th>Date</th><th>Product Name</th><th>Price List</th><th>Amount</th></tr>
            </thead>
            <tbody ng-repeat="getPrice in getPrices">
            <tr><td>{{getPrice.date_recorded}}</td><td>{{getPrice.name}}</td><td>{{getPrice.priceList_name}}</td><td>{{getPrice.amount}}</td></tr>

            </tbody>


        </table>
</div>