<div>
    <script>
  $( function() {

    $( "#product_name" ).autocomplete({
      source: function( request, response ) {
        $.ajax( {
          url: window.location.protocol + "//" + window.location.host + "/openmrs/ws/rest/v1/get_item/getDrug",
          dataType: "json",
          data: {
            name: request.term
          },
          success: function( data ) {

              if(data == null){
            data = {label : "Other"};
              response(data);
                 }
                 else{
             response($.map(data, function (value, key) {

                return {
                    label: value.name,
                    value: value.drug_id
                }
            }));
          }
          }
        } );
      },
      minLength: 2,
      focus: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					$(this).val(ui.item.label);
				},
				select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.label);

					$("#item_id").val(ui.item.value);
					 $("#item_id").trigger('change');
				}
    });
  } );
</script>

</div>
<div style="60%;padding:30px" >
    <div id="navigation" style="float:left;">
        <ul class="top-level">
            <li><a href="../warehouse/#/products">Sub Store</a></li>
            <li><a href="../warehouse/#/activateProducts">Activate/Retire Product</a></li>
            <li><a href="../warehouse/#/price">Add Price</a></li>
            <li><a href="../warehouse/#/physical_invent">Physical Inventory</a></li>
            <li><a href="../warehouse/#/out_of_stock">Out of Stock</a></li>
            <li><a href="../warehouse/#/products_location">Product Location</a></li>
        </ul>
    </div>
    <div id="add_product" style="border:1px">
        <div class="audit-log-filter">
            <header>
                <p>Add Product</p>
            </header>
            <article id="startFrom">

                <div  id="salePrice">
                    <label >Product Name</label>
                    <p>
                        <input placeholder="search product" class="disposition-action" id="product_name" type="text" ng-model="item.name">
                        <input style="display:none" class="disposition-action" id="item_id" type="text" ng-model="item.item_id">

                    </p>

                    <label >Quantity Requesting</label>
                    <p>
                        <input class="disposition-action"  id="strength" type="number" ng-model="item.qty_req">
                    </p>


                    <label >Price List</label>
                    <p>
                        <select class="disposition-action" name="priceList" id="price_list"  ng-options="p.uuid as p.display for p in dosageForms" ng-model="item.price_listId">
                            <option value=""></option>
                        </select>
                    </p>


                    <button  type="submit"   class="run-report confirm" ng-click="save_item()">
                        Save
                    </button>
                </div>
            </article>

        </div>
        <p>
            <input placeholder="Search by Name, BatchNo or Invoice No"  id="searchledger" type="text" ng-model="searchName">

            <button  type="submit"   class="run-report confirm" ng-click="search()">
                Search
            </button>
        </p>
        <table>
            <thead>
            <tr><th>Product Name</th><th>Quantity Requesting</th><th>Price List</th><th>Date Recorded</th><th>Status</th></tr>
            </thead>
            <tbody ng-repeat="Item in Itemss">
            <tr><td>{{Item.date_created}}</td><td>{{Item.name}}</td><td>{{Item.dose_name}}</td><td>{{Item.strength}}</td></tr>

            </tbody>


        </table>
    </div>


</div>
</div>